<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li><a href="mailto:{{ site.email2 }}">{{ site.email2 }}</a></li>
      </ul>
    </div>


    <div class="footer-col-2 column">
      <p style="height:100px;text-align:right;" class="text">{{ site.description }}</p>
    </div>


    <div >

      <div style="width: calc(50% - 10px);margin-right: 10px;"  class="column">
        <p>
        <a href="{{site.url1}}"><img class="gray" style="display:inline; margin-right:1em;" src="{{site.logo1}}" height="30" ></a>
        <a href="{{site.url2}}"><img class="gray" style="display:inline;" src="{{site.logo2}}" height="30" ></a>
        </p>
      </div
      <div style="width: calc(50% - 10px);margin-right: 10px;" class="column">
        <p class="text" style="text-align:right;margin-top: 5em;">{{ site.license}}</p>
        <p  style="text-align:right; font-size:11px;">{{ site.attribution}}</p>
      </div

    </div>
  </div>

</footer>
